* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

#main-header {
  padding: 0.5rem;
  background-color: rgb(255, 58, 166);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1rem 9px rgba(255, 63, 63, 0.356);
  color: white;
}

#cont-carrito {
  text-align: center;
  border-style: solid;
  border-color: fuchsia;
  width: 10%;
}

.material-icons {
  margin: 10px;
  background-color: fuchsia;
  color: white;
  border-color: white;
}